.mainH{
    background: url(https://www.xtrafondos.com/wallpapers/estructura-abstracta-3d-gris-oscuro-3593.jpg);
    background-size: cover;
    height: 100vh;
}
.box{
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    border: 1px solid black;
    background: rgba(220, 221, 225);
    width: 300px;
    margin-top: 100px;
}